* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 45%; } }

body {
  font-size: 1.4rem;
  background-color: #3978c8;
  font-family: "Ubuntu", sans-serif; }

.container {
  margin: 0 20rem;
  background-color: white; }
  @media only screen and (max-width: 81.25em) {
    .container {
      margin: 0; } }

.about {
  display: grid;
  grid-template-columns: [image] 50% [image-end content-start] 50% [content-end];
  grid-template-rows: 50vh; }
  @media only screen and (max-width: 25rem) {
    .about {
      grid-template-columns: auto;
      grid-template-rows: [content] 27rem [image] 30rem [image-end];
      gap: 0; } }
  .about__content {
    grid-column: content-start / content-end;
    padding: 10rem 6vw;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .about__content {
        padding: 5rem 5vw; } }
    @media only screen and (max-width: 25rem) {
      .about__content {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        padding: 5rem 4vw;
        text-align: center; } }
  .about__image {
    width: 100%;
    height: 100%;
    display: block; }
  .about__paragraph {
    margin-bottom: 3rem;
    letter-spacing: 0.3rem;
    line-height: 2rem; }

.btn-more {
  color: #23bebe;
  font-size: 1.7rem;
  transition: all 0.2s;
  width: fit-content; }
  @media only screen and (max-width: 25rem) {
    .btn-more {
      width: 100%; } }
  .btn-more:hover {
    transform: translateY(-1px) scale(1.04); }

.choice {
  text-align: center;
  height: 100vh;
  margin: 0 0 10rem 0; }
  @media only screen and (max-width: 81.25em) {
    .choice {
      padding: 0 2rem 0 3rem; } }
  @media only screen and (max-width: 25rem) {
    .choice {
      margin: 0;
      height: 90vh; } }
  .choice__image-container {
    grid-row: 1 / -1;
    grid-column: col-start 2 / col-start 4;
    border-radius: 10px;
    overflow: hidden; }
    @media only screen and (max-width: 50em) {
      .choice__image-container {
        grid-row: 2 / 3;
        grid-column: col-start 1 / -1; } }
  .choice__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .choice__box {
    border: 1px solid #23bebe;
    width: 20rem;
    padding: 3rem 0;
    border-radius: 10px; }
    @media only screen and (max-width: 50em) {
      .choice__box {
        padding: 1rem 0 1.5rem; } }
    .choice__box:hover {
      box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.06);
      border-style: ridge; }
    .choice__box--1 {
      grid-row: 2 / 3;
      grid-column: col-start 1 / col-start 2;
      justify-self: end; }
      @media only screen and (max-width: 50em) {
        .choice__box--1 {
          grid-row: 1 / 2;
          grid-column: col-start 1 / col-end 1; } }
    .choice__box--2 {
      grid-row: 2 / 3;
      grid-column: col-start 4 / col-start 5; }
      @media only screen and (max-width: 50em) {
        .choice__box--2 {
          grid-row: 1 / 2;
          grid-column: col-start 2 / col-end 2; } }
    .choice__box--3 {
      grid-row: 3 / 4;
      grid-column: col-start 1 / col-start 2;
      justify-self: end; }
      @media only screen and (max-width: 50em) {
        .choice__box--3 {
          grid-row: 3 / 4;
          grid-column: col-start 1 / col-end 1; } }
    .choice__box--4 {
      grid-row: 3 / 4;
      grid-column: col-start 4 / col-start 5; }
      @media only screen and (max-width: 50em) {
        .choice__box--4 {
          grid-row: 3 / 4;
          grid-column: col-start 2 / col-end 2; } }
  .choice__content {
    display: grid;
    grid-template-rows: 5rem 20rem 20rem 5rem;
    grid-template-columns: repeat(4, [col-start] 1fr [col-end]);
    gap: 4rem;
    justify-content: center; }
    @media only screen and (max-width: 50em) {
      .choice__content {
        grid-template-rows: 15rem 35rem 15rem;
        grid-template-columns: repeat(2, [col-start] minmax(25rem, 30rem) [col-end]);
        gap: 2rem 6rem; } }
    @media only screen and (max-width: 25rem) {
      .choice__content {
        gap: 2rem 1rems; } }

.number {
  color: #23bebe;
  font-size: 4rem;
  text-shadow: 0.3rem 0.2rem 5rem rgba(35, 190, 190, 0.3);
  display: block;
  margin-bottom: 0.7rem; }
  @media only screen and (max-width: 50em) {
    .number {
      font-size: 3.5rem; } }

.companies {
  text-align: center;
  margin: 5rem 15rem 10rem; }
  @media only screen and (max-width: 68.75em) {
    .companies {
      margin: 5rem 7rem; } }

.company {
  height: 3rem; }

.airtable {
  width: 8rem;
  height: 4rem; }

.amazon {
  width: 10rem; }

.facebook {
  height: 2.5rem; }

.trusted-companies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7rem, 15rem));
  grid-auto-rows: 100px;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.06);
  margin: 5rem 0 5rem;
  border-radius: 10px; }
  @media only screen and (max-width: 25rem) {
    .trusted-companies {
      margin: 0; } }

.line-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 3rem 0; }

.lines {
  width: 10rem; }

.discount {
  display: grid;
  grid-template-columns: [content] 60% [image] 40% [image-end];
  grid-template-rows: 30vh;
  background-color: #a6f5f549;
  margin: 10rem 0; }
  @media only screen and (max-width: 37.5em) {
    .discount {
      grid-template-rows: 35vh; } }
  .discount__image {
    width: 80%;
    height: 120%;
    display: block;
    transform: translateY(-6rem); }
    @media only screen and (max-width: 37.5em) {
      .discount__image {
        width: 100%;
        height: 115%; } }
  .discount__content {
    padding: 2rem 7vw 2rem 6vw;
    margin: 0 4rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 37.5em) {
      .discount__content {
        padding: 2rem 3vw 2rem 2vw;
        margin: 0 2rem; } }
    @media only screen and (max-width: 25rem) {
      .discount__content {
        padding: 2rem 0;
        margin: 0 0 0 1rem; } }
  .discount__paragraph {
    margin-bottom: 1.5rem; }

.image-top {
  grid-column: image / image-end;
  justify-content: end; }

.start__button {
  width: 60%;
  background-color: #23bebe;
  color: #fff;
  border: none;
  transition: all 0.1s;
  cursor: pointer;
  font-size: 1.7rem; }
  .start__button:hover {
    background-color: #45caca; }

.footer {
  background-color: #103d76;
  color: #fff;
  padding: 3rem 5rem;
  position: relative; }
  .footer__content {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(10rem, 20rem));
    grid-template-rows: auto;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__content {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 100vw)); } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      text-align: center; } }
  .footer__paragraph {
    margin: 1.5rem 0;
    width: 35rem;
    font-size: 1.7rem;
    letter-spacing: 0.2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__paragraph {
        width: 90%;
        margin: 0 auto; } }
  .footer__logo {
    width: 17rem;
    margin-left: -5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        width: 13rem;
        margin: 0;
        margin-bottom: 2rem; } }
  .footer__socials {
    width: 3.5rem;
    height: 3.5rem;
    background-color: #23bebe;
    fill: #fff;
    transition: all 0.1s;
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    margin-right: 0.5rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__socials {
        margin: 1rem 0; } }
    .footer__socials:hover {
      transform: scale(1.2); }
  .footer__link {
    display: inline-block;
    font-size: 1.6rem;
    margin: 0 3rem 0 0;
    padding: 0 0 1rem 0;
    transition: all 0.1s; }
    @media only screen and (max-width: 37.5em) {
      .footer__link {
        margin: 0; } }
    .footer__link:link, .footer__link:visited {
      color: #fff; }
    .footer__link:hover {
      transform: translateY(-1px); }
  .footer__heading {
    color: #23bebe;
    display: block;
    font-size: 1.9rem;
    margin-bottom: 1rem;
    text-shadow: 0.2rem 0.1rem 1rem #01adac;
    letter-spacing: 0.1rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__heading {
        grid-row: 2 / 3;
        grid-column: col-start 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .footer__services {
      margin: 1rem 0; } }

.copyright {
  display: block;
  padding: 3rem 0 0 0;
  text-align: center;
  border-top: 1px solid white; }

.header {
  display: grid;
  grid-template-columns: [content] 55% [image] 45% [image-end];
  grid-template-rows: 60vh;
  background-color: #a6f5f549; }
  @media only screen and (max-width: 56.25em) {
    .header {
      grid-template-rows: 50rem; } }
  @media only screen and (max-width: 25rem) {
    .header {
      grid-template-columns: auto;
      grid-template-rows: [content] 40rem [image] 30rem [image-end]; } }
  .header__image {
    width: 100%;
    height: 100%;
    display: block; }
  .header__content {
    padding: 10rem 10vw;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 81.25em) {
      .header__content {
        padding: 5rem 5vw; } }
    @media only screen and (max-width: 25rem) {
      .header__content {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
        padding: 5rem 5rem 0; } }
  .header__paragraph {
    margin-bottom: 3rem; }

.image-cover {
  grid-column: image / image-end;
  justify-content: end; }
  @media only screen and (max-width: 25rem) {
    .image-cover {
      grid-row: 2 / 3;
      grid-column: 1 / -1; } }

.form {
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  margin: 2rem 0 1rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between; }

#search {
  padding: 1rem 1.5rem;
  border: none;
  width: 100%;
  background-color: transparent; }
  #search:focus {
    outline: none; }
  #search::selection {
    background-color: rgba(0, 0, 0, 0.7);
    color: #e4e3e3; }
  #search::-webkit-input-placeholder {
    color: #0c32325d;
    padding: 0 1rem; }

.search {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .search__button {
    padding: 1.4rem 3rem;
    background-color: #23bebe;
    color: #fff;
    border: none;
    transition: all 0.1s;
    cursor: pointer; }
    .search__button:hover {
      background-color: #45caca; }

.mentors {
  text-align: center;
  margin: 0 0 15rem; }
  .mentors__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }

.mentor-box {
  margin: 0 2rem;
  width: 30rem;
  border: 1px solid transparent; }
  @media only screen and (max-width: 25rem) {
    .mentor-box {
      margin-bottom: 5rem; } }
  .mentor-box:hover {
    box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.06);
    border: 1px solid #23bebe;
    border-radius: 5px; }

.mentor__img {
  width: 100%; }

.mentor__job {
  color: #666f6f;
  font-size: 1.2rem; }

.mentor__details {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  align-items: center; }

.mentor__rating {
  display: flex; }

.socials {
  width: 2rem;
  height: 2rem;
  background-color: #23bebe;
  fill: #fff;
  transition: all 0.1s;
  padding: 0.2rem 0.3rem;
  border-radius: 50%;
  margin-right: 0.2rem; }
  .socials:hover {
    transform: scale(1.2); }

.rating {
  color: #666f6f;
  font-size: 1.2rem;
  display: flex;
  align-items: center; }

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
  position: relative; }
  @media only screen and (max-width: 25rem) {
    .navigation {
      padding: 4rem; } }

a {
  text-decoration: none;
  font-family: "Ubuntu"; }

ul {
  list-style: none; }

.nav__logo {
  width: 17rem;
  margin-left: -5rem; }
  @media only screen and (max-width: 81.25em) {
    .nav__logo {
      width: 13rem; } }

.nav__list {
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .nav__list {
      opacity: 0;
      width: 100%;
      background-color: white;
      position: absolute;
      transition: all 0.3s;
      bottom: 0;
      left: 0;
      transform: translate(28%, -10%); }
      .nav__list.active {
        opacity: 1; } }

.nav__links {
  display: inline-block;
  font-size: 1.8rem;
  margin: 0 3rem 0 0;
  padding: 0.5rem;
  transition: all 0.1s; }
  @media only screen and (max-width: 50em) {
    .nav__links {
      margin: 0 1rem 0 0; } }
  @media only screen and (max-width: 37.5em) {
    .nav__links {
      font-size: 1.9rem;
      margin: 0 1rem 0 1rem; } }
  .nav__links:link, .nav__links:visited {
    color: #242e33d8; }
  .nav__links:hover {
    transform: translateY(-1px) scale(1.1);
    border-bottom: 1px solid currentColor; }

#login {
  color: #23bebe;
  padding: 1rem 1.5rem;
  border: 1px solid #23bebe;
  border-radius: 10px;
  margin-right: 2rem; }

#start {
  border-radius: 10px;
  color: #fff;
  background-color: #23bebe;
  padding: 1.1rem 2rem; }

.toggle__button {
  position: absolute;
  right: 1rem;
  padding: 0 0.5rem; }
  .toggle__button, .toggle__button::before, .toggle__button::after {
    width: 2.8rem;
    height: 0.25rem;
    background-color: #01adac;
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .toggle__button, .toggle__button::before, .toggle__button::after {
        display: inline-block; } }
  .toggle__button::before, .toggle__button::after {
    content: "";
    position: absolute;
    left: 0; }
  .toggle__button::before {
    top: -0.7rem; }
  .toggle__button::after {
    top: 0.7rem; }

.popular {
  text-align: center;
  margin: 0 2rem 10rem; }
  .popular__paragraph {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .popular__paragraph {
        width: 50%; } }
    @media only screen and (max-width: 25rem) {
      .popular__paragraph {
        width: 90%; } }

.course {
  display: flex;
  flex-direction: column;
  width: 25rem;
  margin: 0 2rem 4rem;
  text-align: left;
  flex-wrap: wrap;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 4rem;
  border: 1px solid transparent;
  transition: all 0.05s; }
  @media only screen and (max-width: 56.25em) {
    .course {
      margin: 0 0.5rem 2rem; } }
  @media only screen and (max-width: 25rem) {
    .course {
      margin-bottom: 3rem; } }
  .course:hover {
    box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.06);
    border: 1px solid #23bebe; }
  .course__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .course__paragraph {
    margin-bottom: 1.5rem;
    padding: 0 0.3rem 0.5rem; }
  .course__img {
    width: 100%;
    height: 14rem; }
  .course__details {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 0 0; }

.content {
  padding: 0 1rem;
  text-align: left; }

.scroll-bar {
  height: 3rem;
  width: 3rem;
  fill: #fff;
  padding: 0.5rem;
  background-color: #23bebe;
  border-radius: 2px;
  transition: all 0.2s; }
  .scroll-bar:hover {
    background-color: #45caca; }
  .scroll-bar:active {
    transform: translateY(2px); }
  @media only screen and (max-width: 37.5em) {
    .scroll-bar {
      display: none; } }

.star {
  fill: #ffb30f;
  height: 1.5rem;
  width: 2rem;
  margin-left: -5px; }

.rating {
  display: flex; }

.testimonies {
  text-align: center;
  margin: 0 0 10rem; }
  .testimonies__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }

.details {
  display: grid;
  grid-template-columns: min-content max-content;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem; }

.person {
  width: 7rem; }

.testimony {
  display: flex;
  flex-direction: column;
  width: 30rem;
  margin: 0 2rem 4rem;
  text-align: left;
  border-radius: 5px;
  overflow: hidden;
  padding: 2rem;
  padding-bottom: 4rem;
  border: 1px solid transparent;
  transition: all 0.1s; }
  .testimony:hover {
    box-shadow: 1.5rem 0 2rem rgba(0, 0, 0, 0.06);
    border: 1px solid #23bebe;
    transform: scale(1.03);
    border-radius: 5px; }

.test__paragraph {
  margin: 2rem 0; }

.heading-primary, .heading-secondary, .heading-tertiary, .heading-4 {
  font-family: "Ubuntu";
  font-weight: 400;
  color: #023232; }

.heading-primary {
  font-weight: 700;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  width: 90%;
  line-height: 1.3; }
  @media only screen and (max-width: 25rem) {
    .heading-primary {
      font-size: 3.5rem; } }

.heading-secondary {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem; }

.heading-tertiary {
  font-size: 1.6rem;
  margin: 1.5rem 0;
  font-weight: bold; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem; }

.heading-5 {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1rem 0 0.3rem; }

.paragraph {
  color: #495555d8; }
