.discount {
  display: grid;
  grid-template-columns: [content] 60% [image] 40% [image-end];
  grid-template-rows: 30vh;
  background-color: $color-primary-light;
  margin: 10rem 0;

  &__image {
    width: 80%;
    height: 120%;
    display: block;
    transform: translateY(-6rem);

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
    }
  }

  &__content {
    padding: 2rem 7vw 2rem 6vw;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-smallest) {
      // padding: 2rem 7vw 2rem 6vw;
      margin: 0 2rem;
    }

    @media only screen and (max-width: $bp-tiny) {
      padding: 2rem 0;
      margin: 0 0 0 1rem;
    }
  }

  &__paragraph {
    margin-bottom: 1.5rem;
  }
}

.image-top {
  grid-column: image / image-end;
  justify-content: end;
}

.start__button {
  width: 60%;
  background-color: $color-primary;
  color: #fff;
  border: none;
  transition: all 0.1s;
  cursor: pointer;
  font-size: 1.7rem;

  &:hover {
    background-color: #45caca;
  }
}
