.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem 2rem;
  position: relative;

  @media only screen and (max-width: $bp-tiny) {
    padding: 4rem;
  }
}

a {
  text-decoration: none;
  font-family: $main-font;
}

ul {
  list-style: none;
}

.nav {
  &__logo {
    width: 17rem;
    margin-left: -5rem;

    @media only screen and (max-width: $bp-largest) {
      width: 13rem;
    }
  }
  &__container {
    @media only screen and (max-width: $bp-smallest) {
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(50%, 0);
      transition: all 0.3s;
    }

    @media only screen and (max-width: $bp-tiny) {
      transform: translate(17%, 0);
    }

    &.active {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
  }

  &__links {
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 3rem 0 0;
    padding: 0.5rem;
    transition: all 0.1s;

    @media only screen and (max-width: $bp-small) {
      margin: 0 1rem 0 0;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.9rem;
      margin: 0 1rem 0 1rem;
    }

    &:link,
    &:visited {
      color: #242e33d8;
    }

    &:hover {
      transform: translateY(-1px) scale(1.1);
      border-bottom: 1px solid currentColor;
    }
  }
}

#login {
  color: $color-primary;
  padding: 1rem 1.5rem;
  border: 1px solid $color-primary;
  border-radius: 10px;
  margin-right: 2rem;
}

#start {
  border-radius: 10px;
  color: #fff;
  background-color: $color-primary;
  padding: 1.1rem 2rem;
}

.toggle__button {
  position: absolute;
  right: 1rem;
  padding: 0 0.5rem;

  &,
  &::before,
  &::after {
    width: 2.8rem;
    height: 0.25rem;
    background-color: $color-variant;
    display: none;

    @media only screen and (max-width: $bp-smallest) {
      display: inline-block;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
  }

  &::before {
    top: -0.7rem;
  }

  &::after {
    top: 0.7rem;
  }
}
